params {
    input = null
    outdir = './results'
    file_path = null
    peptide_column = null
    fasta_file = null
    miss_cleavage = 2
    min_length = 5
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled = true
    }
}
